In [7]:
import os
import pandas as pd
import rdflib
from rdflib import Graph

In [8]:
def rdf_daily_to_df(file_path):
    g = Graph()
    g.parse(file_path, format="xml")

    rows = {}

    for s, p, o in g:
        s = str(s)
        p = str(p)
        o = str(o)

        if s not in rows:
            rows[s] = {
                "subject": s,
                "city": "Chicago"
            }

        col = p.split("/")[-1]

        if col == "route":
            rows[s]["route"] = o
        elif col == "date":
            rows[s]["date"] = o
        elif col == "daytype":
            rows[s]["daytype"] = o
        elif col == "rides":
            rows[s]["ridership"] = o

    df = pd.DataFrame(rows.values())

    df["date"] = pd.to_datetime(df["date"], errors="coerce")
    df["ridership"] = pd.to_numeric(df["ridership"], errors="coerce")

    return df

rdf_CTA__Ridership__Daily_by_Route_routes_2001_2025

In [36]:
folder_path = r"C:\Users\dohas\Downloads\rdf_CTA__Ridership__Daily_by_Route_routes_2001_2025"

In [37]:
import os
import pandas as pd
from rdflib import Graph

# Fonction pour convertir RDF en DataFrame
def rdf_daily_to_df(file_path):
    g = Graph()
    g.parse(file_path, format="xml")

    rows = {}

    for s, p, o in g:
        s = str(s)
        p = str(p)
        o = str(o)

        if s not in rows:
            rows[s] = {
                "subject": s,
                "city": "Chicago"
            }

        col = p.split("/")[-1]

        if col == "route":
            rows[s]["route"] = o
        elif col == "date":
            rows[s]["date"] = o
        elif col == "daytype":
            rows[s]["daytype"] = o
        elif col == "rides":
            rows[s]["ridership"] = o

    df = pd.DataFrame(rows.values())

    df["date"] = pd.to_datetime(df["date"], errors="coerce")
    df["ridership"] = pd.to_numeric(df["ridership"], errors="coerce")

    return df

# Chemin exact du dossier
folder_path = r"C:\Users\dohas\Downloads\rdf_CTA__Ridership__Daily_by_Route_routes_2001_2025"

# Lecture de tous les fichiers RDF
dfs = []

for file in os.listdir(folder_path):
    if file.endswith(".rdf"):
        file_path = os.path.join(folder_path, file)
        print(f"Lecture du fichier : {file}")
        df_temp = rdf_daily_to_df(file_path)
        dfs.append(df_temp)

# Fusion de tous les DataFrames
df_final = pd.concat(dfs, ignore_index=True)

# Vérifications rapides
print(df_final.head())
print(df_final.info())

Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_1.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_10.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_11.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_12.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_13.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_14.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_15.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_16.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_17.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_18.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_19.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_2.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_3.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_4.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_5.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_6.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_7.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_8.rdf
Lecture du fichier : rdf_CTA__Ridership__Daily_by_Route_routes_9.rdf
                                             subject     city  ridership  \
0  https://data.cityofchicago.org/resource/jyb9-n...  Chicago       2444
1  https://data.cityofchicago.org/resource/jyb9-n...  Chicago         29
2  https://data.cityofchicago.org/resource/jyb9-n...  Chicago       8582
3  https://data.cityofchicago.org/resource/jyb9-n...  Chicago       5925
4  https://data.cityofchicago.org/resource/jyb9-n...  Chicago       6515

  daytype route       date
0       W   106 2005-05-04
1       A  1001 2013-11-16
2       W     1 2002-06-05
3       W    11 2010-05-26
4       W     1 2001-11-09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092474 entries, 0 to 1092473
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   subject    1092474 non-null  object
 1   city       1092474 non-null  object
 2   ridership  1092474 non-null  int64
 3   daytype    1092474 non-null  object
 4   route      1092474 non-null  object
 5   date       1092474 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 50.0+ MB
None

In [38]:
df_Daily_All = pd.concat(dfs, ignore_index=True)
df_Daily_All.head()

,subject,city,ridership,daytype,route,date
0,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,2444,W,106,2005-05-04
1,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,29,A,1001,2013-11-16
2,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,8582,W,1,2002-06-05
3,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,5925,W,11,2010-05-26
4,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,6515,W,1,2001-11-09

In [39]:
df_Daily_All.drop(columns=["city","subject"])

         ridership daytype route       date
0             2444       W   106 2005-05-04
1               29       A  1001 2013-11-16
2             8582       W     1 2002-06-05
3             5925       W    11 2010-05-26
4             6515       W     1 2001-11-09
...            ...     ...   ...        ...
1092469       2079       W    43 2011-06-23
1092470      13826       W    36 2005-11-28
1092471       1712       W    34 2023-01-04
1092472       2063       W    43 2011-11-09
1092473      12415       W    36 2019-04-16

[1092474 rows x 4 columns]

In [40]:
df_Daily_All.isna().sum()

subject      0
city         0
ridership    0
daytype      0
route        0
date         0
dtype: int64

In [44]:
import pandas as pd

# ==============================
# 1. Concaténation (si pas déjà faite)
# ==============================
df_Daily_All = pd.concat(dfs, ignore_index=True)

# ==============================
# 2. Supprimer les colonnes "subject" et "city"
# ==============================
columns_to_drop = ["subject", "city"]
df_Daily_All = df_Daily_All.drop(columns=[col for col in columns_to_drop if col in df_Daily_All.columns])

# ==============================
# 3. Convertir la colonne "date" en datetime
# ==============================
df_Daily_All['date'] = pd.to_datetime(df_Daily_All['date'], errors='coerce')  # transforme les dates, les erreurs deviennent NaT

# ==============================
# 4. Filtrer les dates entre 2019 et 2025
# ==============================
df_Daily_All = df_Daily_All[(df_Daily_All['date'].dt.year >= 2019) & (df_Daily_All['date'].dt.year <= 2025)]

# ==============================
# 5. Vérification
# ==============================
print("Colonnes restantes :", df_Daily_All.columns)
print("Nombre de lignes après filtre :", len(df_Daily_All))
display(df_Daily_All.head())

Colonnes restantes : Index(['ridership', 'daytype', 'route', 'date'], dtype='object')
Nombre de lignes après filtre : 288929

    ridership daytype route       date
11        413       W    10 2021-06-10
12       1242       W   106 2019-10-11
13        901       W   106 2021-09-09
17        137       W  1001 2020-10-07
20        598       W   106 2021-12-14

In [45]:
df_Daily_All.to_csv(r"C:\Users\dohas\Downloads\rdf_CTA__Ridership__Daily_by_Route_routes_2001_2025\Daily_All.csv", index=False)